.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    padding-top: 3.5rem;
}

.navbar {
    -moz-box-shadow:    0 0 5px grey;
    -webkit-box-shadow: 0 0 5px grey;
    box-shadow:         0 0 5px grey;
}

.content {
    max-width: 1200px;
    margin: auto;
    background: #ffffff;
    height: 100%;
    overflow-y: scroll;

    -moz-box-shadow:    0 0 10px grey;
    -webkit-box-shadow: 0 0 10px grey;
    box-shadow:         0 0 10px grey;
}

.content::-webkit-scrollbar {
    display: none;
}

canvas {
    display:block;
    background: #f6f7f9;
    position: fixed;
    z-index: -1;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}